Repository voxpupuli/puppet-nodejs, pull requests merged in 2020-11, with the labels that each got.

#432 add parameter $manage_nodejs_package
  README.md
  manifests/init.pp
  manifests/install.pp
  spec/classes/nodejs_spec.rb
Labels: enhancement

#435 fix failures on BSDs by not using fully qualified path
  manifests/npm.pp
  manifests/npm/global_config_entry.pp
  manifests/params.pp
  metadata.json
  spec/defines/global_config_entry_spec.rb
  spec/defines/nodejs_npm_spec.rb
Labels: bug

#437 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .sync.yml
  .travis.yml
  Gemfile
  README.md
  Rakefile
  manifests/params.pp
  manifests/repo/nodesource.pp
  metadata.json
  spec/classes/nodejs_spec.rb
Labels: modulesync

#438 Drop EL6 support
  README.md
  manifests/params.pp
  manifests/repo/nodesource.pp
  metadata.json
  spec/classes/nodejs_spec.rb
Labels: backwards-incompatible
