Repository voxpupuli/puppet-nodejs, pull requests merged in 2025-06, with the labels that each got.

#507 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog

#505 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .sync.yml
  Gemfile
  spec/unit/puppet/provider/package/npm_spec.rb
Labels: modulesync

#506 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement
